* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-font1: #fff;
    --cor-font2: #222222;
    --cor-destaque1: #B3001B;
    --cor-destaque2: #FFD700;
    --cor-background: #1E1E2F;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--cor-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: var(--cor-destaque1);
    color: var(--cor-font1);
}

#logo {
    line-height: 30px;
    text-decoration: none;
}

#logo h1{
    color: var(--cor-font1);
    font-size: 2rem;
    font-weight: 300;
}

#logo h2 {
    color: var(--cor-destaque2);
    font-size: 2.2rem;
    font-weight: 500;
}

header nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--cor-font1);
    font-size: 1.4rem;
}

header nav ul li a:hover {
    transition: .3s;
    text-decoration: underline var(--cor-destaque2);
}

.btn {
    text-decoration: none;
    background: var(--cor-destaque2);
    color: var(--cor-font2);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    transition: .3s;
    background: var(--cor-font2);
    color: var(--cor-destaque2);
    text-decoration: none;
    border: 2px solid var(--cor-destaque2);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
}

#campoBanner {
    min-height: 100vh;
}

#banner {
    width: 100%;
    height: 100vh;
}

.titulo {
    font-size: 3rem;
    color: var(--cor-destaque2);
    text-align: center;
    margin-top: 20px;
}

.sub-titulo {
    color: var(--cor-font1);
    font-size: 1.3rem;
    font-weight: 500;
}

.preco {
    color: var(--cor-font1);
    font-size: 1.5rem;
    font-weight: 700;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--cor-destaque1);
    border-radius: 5px;
    width: 400px;
    height: 730px;
}

.campoImg {
    margin: 20px;
}

.imagemCard {
    width: 100%;
    height: 100%;
}

.card .btn {
    width: 80%;
    font-size: 2.2rem;
}

#verMais {
    font-size: 2.2rem;
}

#textoSobre {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.paragrafo {
    color: var(--cor-font1);
    font-size: 1.8rem;
}

#forms-contato {
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--cor-destaque1);
    border-radius: 10px;
    width: 500px;
    height: 100%;

}

form input {
    margin-bottom: 20px;
}

form input, textarea {
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--cor-font2);
    font-size: 1rem;
    border: none;
}

#descricao {
    height: 200px;
}

form .btn {
    margin-top: 30px;
    border-radius: 5px;
}


footer {
    background: var(--cor-destaque1);
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin-top: 50px;
}

#rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#rodape .titulo {
    color: var(--cor-font1);
}

#redes {
    text-align: center;
}

#redes_icone {
    width: 60px;
    height: 60px;
}

#direitos {
    text-align: center;
}